In [5]:
name = ['Durgesh', 'Shubham', 'Tiwari', 'Satyam']
name

['Durgesh', 'Shubham', 'Tiwari', 'Satyam']

In [7]:
for i in range(len(name)):
  print(i, name[i])

0 Durgesh
1 Shubham
2 Tiwari
3 Satyam

In [8]:
for i in enumerate(name):
  print(i)

(0, 'Durgesh')
(1, 'Shubham')
(2, 'Tiwari')
(3, 'Satyam')

In [12]:
name = set(name)
name
type(name)

set